<html xmlns:th="http://www.thymeleaf.org">
<div class="row">

	<form action="#" id="formData2" name="createCandidate" method="post" th:object="${candidateDto}">
		<div id="Infomation">
			<div class="card card-body d-flex">
				<div class="row">
					<button class="btn btn-secondary colorBt col-12" type="button" data-bs-toggle="collapse"
						data-bs-target="#General" aria-expanded="false" aria-controls="collapseExample">
						Personal Information
					</button>

				</div>
				<div class="collapse" id="General">
					<div class="card card-body">
						<div class="row">
							<div class="col-4 d-flex align-items-center">
								<p class="mb-2 me-2 p-text">Empl ID</p>
								<input type="text" class="form-control w-100" aria-describedby="basic-addon3"
									name="emplId" readonly id="emplId" />
							</div>
							<div class="col-4 d-flex align-items-center">
								<p class="mb-2 me-2 p-text">Type</p>
								<input type="text" class="form-control w-100" aria-describedby="basic-addon3"
									name="type" value="Candidate" readonly />
							</div>
							<div class="col-4 d-flex align-items-center">
								<p class="mb-2 me-2 p-text">Status</p>
								<select name="status" class="form-control w-100">
									<option th:each="option : ${T(fa.edu.vn.enums.CandidateStatusEnum).values()}"
										th:value="${option}" th:text="${option.getDisplayValue()}"></option>
								</select>
							</div>
						</div>
						<div class="row mt-2">
							<div class="col-6 d-flex align-items-center">
								<p class="mb-2 me-2 p-text">Application Date</p>
								<input type="date" id="applicationDateValid" class="form-control w-100" aria-describedby="basic-addon3"
									name="applicationtDate" th:field="*{applicationtDate}" data-error="#applicationDateValidMess"/>
									
							</div>
							
							<div class="col-6 d-flex align-items-center">
								<p class="mb-2 me-2 p-text">Channel *</p>
								<select name="channelId" class="form-select" aria-label="Default select example"
									id="channel">
									<option selected value="none">....</option>
									<option th:each="channel : ${channels}" th:value="${channel.channelId}"
										th:text="${channel.channelName}"></option>
								</select>
								
							</div>
							<div class="error col-6" id="applicationDateValidMess"></div>
							<div class="error col-6" id="errorChannel"></div>
						</div>
						<div class="row mt-2">
							<div class="col-6 d-flex align-items-center">
								<p class="mb-2 me-2 p-text">Site *</p>
								<select name="locationId" class="form-select" aria-label="Default select example"
									id="location">
									<option selected value="none">....</option>
									<option th:each="option : ${locations}" th:value="${option.locationId}" th:text="${option.locationName}">
									</option>
								</select>
							</div>
							<div class="col-6 d-flex align-items-center">
								<p class="mb-2 me-2 p-text">Account *</p>
								<input type="text" class="form-control w-100" aria-describedby="basic-addon3"
									name="account" readonly/>
							</div>
							<div class="error col-6" id="errorSite"></div>
							<div class="error col-6" id="errorAccount"><span th:text="${messageA}"></div>
						</div>
						<div class="row mt-2">
							<div class="col-6 d-flex align-items-center">
								<p class="mb-2 me-2 p-text">Name *</p>
								<input type="text" class="form-control w-100" aria-describedby="basic-addon3"
									name="fullName" th:field="*{fullName}" />
							</div>
							<div class="col-6 d-flex align-items-center">
								<p class="mb-2 me-2 p-text">Gender *</p>
								<div class="form-control w-100">
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="gender" id="inlineRadio1"
											value="Male">
										<label class="form-check-label" for="inlineRadio1">Male</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="gender" id="inlineRadio2"
											value="Famale">
										<label class="form-check-label" for="inlineRadio2">Famale</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="gender" id="inlineRadio2"
											value="Other">
										<label class="form-check-label" for="inlineRadio2">Other</label>
									</div>

								</div>
								
							</div>
							<div class="error col-6" id="errorName"></div>
						     	<div class="error col-6" id="errorGender"></div>
						</div>
						<div class="row mt-2">
							<div class="col-6 d-flex align-items-center">
								<p class="mb-2 me-2 p-text">DOB *</p>
								<input type="date" id="dateOfBirthValid" class="form-control w-100" aria-describedby="basic-addon3"
									name="dateOfBirth" th:field="*{dateOfBirth}" data-error="#dateOfBirthValidMess"/>
							</div>
							<div class="col-6 d-flex align-items-center">
								<p class="mb-2 me-2 p-text">CV</p>
								
								<input type="file"
								accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
								 class="form-control w-100" aria-describedby="basic-addon3"
									name="CV" th:field="*{CV}" id="CV" data-error="#learningPathMess"/>
							</div>
							<div class="error col-6" id="dateOfBirthValidMess"></div>
							<div class="error col-6" id="errorCv"></div>
						</div>
						<div class="row mt-2">
							<div class="col-6 d-flex align-items-center">
								<p class="mb-2 me-2 p-text">University</p>
								<select name="universityId" class="form-select selectUniversity" aria-label="Default select example"
									id="univer" >
									<option selected value="none">....</option>
									<option th:each="option : ${universitys}" th:value="${option.universityId}" th:text="${option.universityName}">
									</option>
									<option value="0">others</option>
								</select>
								<input type="text" class="form-control w-100" name="universityNameOther" id="universityOther" style='display:none'/>
							</div>
							<div class="col-6 d-flex align-items-center">
								<p class="mb-2 me-2 p-text">Faculty</p>
								<select name="facultyId" class="form-select selectFaculty" aria-label="Default select example"
									id="faculty">
									<option selected value="none">....</option>
									<option th:each="option : ${facultys}" th:value="${option.facultyId}" th:text="${option.facultyName}">
									</option>
									<option value="0">others</option>
								</select>
								<input type="text" class="form-control w-100" name="facultyNameOther" id="facultyOther" style='display:none'/>
							</div>
							<div class="error col-6" id="errorUniversity"></div>
							<div class="error col-6" id="errorFaculty"></div>
						</div>
						<div class="row mt-2">
							<div class="col-6 d-flex align-items-center">
								<p class="mb-2 me-2 p-text">Phone</p>
								<input type="text" class="form-control w-100" aria-describedby="basic-addon3"
									name="phone" th:field="*{phone}" />
							</div>
							<div class="col-6 d-flex align-items-center">
								<p class="mb-2 me-2 p-text">Email</p>
								<input type="text" class="form-control w-100" aria-describedby="basic-addon3"
									name="email" th:field="*{email}" />
							</div>
							<div class="error col-6" id="errorPhone"><span th:text="${messageP}"></div>
							<div class="error col-6" id="errorEmail"><span th:text="${messageE}"></div>
						</div>
						<div class="row mt-2">
							<div class="col-6 d-flex align-items-center">
								<p class="mb-2 me-2 p-text">Skill</p>
								<input type="text" class="form-control w-100" aria-describedby="basic-addon3"
									name="skill" th:field="*{skill}" />
							</div>
							<div class="col-6 d-flex align-items-center">
								<p class="mb-2 me-2 p-text">Graduration Year</p>
								<input type="date" id="gradurationYearValid" class="form-control w-100" aria-describedby="basic-addon3"
									name="gradurationYear"  th:field="*{gradurationYear}" data-error="#gradurationYearValidMess"/>
							</div>
							<div class="error col-6" id="errorSkill"></div>
							<div class="error col-6" id="gradurationYearValidMess"></div>
						</div>
						<div class="row mt-2">
							<div class="col-6 d-flex align-items-center">
								<p class="mb-2 me-2 p-text">Foreign Language</p>
								<input type="text" class="form-control w-100" aria-describedby="basic-addon3"
									name="foreignLanguage" th:field="*{foreignLanguage}" />
							</div>
							<div class="col-6 d-flex align-items-center">
								<p class="mb-2 me-2 p-text">Level</p>
								<input type="text" class="form-control w-100" aria-describedby="basic-addon3"
									name="level" th:field="*{level}" />
							</div>
							<div class="error col-6" id="errorforeignLanguage"></div>
							<div class="error col-6" id="errorLevel"></div>
						</div>
						<div class="row mt-2">
							<div class="col-12 d-flex align-items-center">
								<p class="mb-2 me-2 p-text">Note</p>
								<input type="text" class="form-control w-100" aria-describedby="basic-addon3"
									name="note"  th:field="*{note}" />
							</div>

						</div>
						<div class="row mt-2">
							<div class="col-12 d-flex align-items-center">
								<p class="mb-2 me-2 p-text">History</p>
								<input type="text" class="form-control w-100" aria-describedby="basic-addon3"
									name="history" readonly />
							</div>

						</div>



					</div>
				</div>

				<div class=" w-25 mt-2" role="group" aria-label="Basic mixed styles example">
				<!-- Button trigger modal -->
					<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop" >Submit</button>
					<button type="button" class="btn btn-outline-dark" id="closeCreateCandidate"><i class="fa fa-reply" aria-hidden="true"></i>&ensp;Close</button>
				</div>
				


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Confirm</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;Are you sure to submit?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"  id="submitCreateCandidate">OK</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
			</div>
		</div>
	</form>
</div>